body{
    background-color: rgb(255, 255, 255);
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
h1{
    justify-content: center;
    align-items: center;
    
}
#parent{
    border:3px solid rgb(134, 171, 133);
    width: 600px;
    margin: 0 auto;
    height: 320px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(3,100px);
    grid-gap: 10px;
}

#b1{
    background-color: #A8DF8E;
    grid-area: 1/1/1/3;
}
#b2{
    background-color: #F0FFDF;
    grid-area: 2/3/1/3;
}
#b3{
    background-color: #FFD8DF;
    grid-area: 1/4/1/5;
}
#b4{
    background-color: #FFAAB8;
    grid-area: 2/1/2/2;
}
#b5{
    background-color: #F8F7BA;
    grid-area: 2/2/2/5;
}
#b6{
    background-color: #DCCFC0;
    grid-area: 3/1/3/2;
}
#b7{
    background-color: #CFECF3;
    grid-area: 3/2/3/3;
}
#b8{
    background-color: #A1BC98;
    grid-area: 3/3/3/5;
}

